@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* { font-family: 'Poppins', sans-serif; }

body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1582059983736-eedd5df2212b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2880&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8);
}
article {
    background-color: rgba(0, 0, 0, 0.4);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    position: fixed;
    right: 16px;
    bottom: 8px;
}
p {
    padding: 0px;
    margin: 0px;
}
a { color: rgb(255, 200, 0); text-decoration: none; }
a:hover { color: rgb(255, 255, 0); }
a:active { color: rgb(255, 200, 0); }

section#main { width: 100vw; height: 80vh; }
section#quote { width: 100vw; height: 20vh; }

p#time { font-size: 80px; font-weight: bold;}
p#greeting { font-size: 50px; }
ul#todo { list-style: none; font-size: 28px; }

p#author { font-size: 25px; font-style: italic; }
p#author::before { content: '- '; }
p#author::after { content: ' -'; }
p#content { font-size: 16px; }
p#content::before { content: '" '; }
p#content::after { content: ' "'; }

p#link { font-size: 12px; }
